<%- include header %>




<section>
  <div class="page-title">
    <img src="" alt="">
    <!-- <span>世界和平</span> -->
    <!-- <span>让世界知道你的存在</span> -->
    <form>
      <div class="search">
        <!-- <input type="text" class="input-control" placeholder="" name="keyword"> -->
      </div>
    </form>
  </div>
  <!-- <hr class="bbr"> -->
  <div class="blog-list">
    <ul class="list-group">
      <li class="blogs">

        <% data.forEach(function(blog){ %>
          <div class="blog-title">
            <a href="#"><%= blog.title %></a>
          </div>
          <div class='blog-lines'>
            <%= blog.comment %>
          </div>
          <div class="info">
            <span>查阅: 3.5万</span>
            <span>|</span>
            <span>喜欢: 2.3万</span>
            <span>|</span>
            <span>日期：<%- blog.date %></span>
            <!-- <span>|</span> -->
            <!-- <span><a href="/update">修改</a></span> -->
          </div>
        <% }) %>

      </li>
    </ul>

  </div>

  <div class="blog-classify">
    <ul class="blog-tag">
      <h3>文章列表</h3>
      
      <% data.forEach(function(blog){ %>
        <li>
          <%= blog.title %>
        </li>
      <% }) %>

    </ul>
    <ul class="blog-links">
      <h3>好文推荐</h3>
      
      <% data.forEach(function(blog){ %>
        <li>
          <%= blog.title %>
        </li>
      <% }) %>

    </ul>
  </div>
</section>


<%- include footer %>
